.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 6px 10px;
  font-size: 20px;
  gap: 10px;
  border: none;
  background-color: var(--text-main-color);
  color: var(--main-color);
}
